* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
    max-width: 1366px;
    font-family: 'Raleway', sans-serif;;
}

.App{
    color: white;
}

.wrap{
    margin-left: 135px;
    margin-right: 135px;
}